# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers:Python has three numeric datatype, Integers are whole numbers, positive or negative, without decimal and of infinite length. Float are numbers with fractional part or decimal. Complex numbers having one real part and one imaginary part. 

Strings: String is sequence of character that are written inside either single('') or double("") quote. We can access elements of string by index number. Python offers lots of method for string operation. eg str = "Hello"

Lists: In Python, a list is a data structure that can hold a collection of items. These items can be of any data type numbers, strings, boolean values, or even other lists. Lists are ordered, meaning the order in which elements are added to the list is preserved, and they are mutable, which means you can modify them after they've been created. We can create a list by comma separated values within square brackets []. Accessing elements of lists can be done by index numbers.eg list = [1,2,3]

Tuples:  A tuple is similar to a list, but with one key difference: tuples are immutable, meaning once they are created, their elements cannot be changed, added, or removed. we can create tuple by comma separated values within paranthesis (). Similar to lists we can access elements of tuples using indexing.Tuple packing is the process of creating a tuple without using parentheses, while tuple unpacking is the process of assigning the elements of a tuple to multiple variables. eg tup = ("Hi",2,3),

Dictionaries: A datastructure that store key value pairs. They are unordered collections, meaning the order of items is not guaranteed, and they are mutable, allowing for changes after creation. You can create a dictionary by enclosing comma-separated key-value pairs within curly braces {}. For example: my_dict = {'name': 'Chintu', 'age': 30, 'city': 'Dholakpur'}
We can access values by their respective keys.Dictionaries are mutable, so you can modify existing key-value pairs or add new ones

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [1]:
x = 5
y = 4
print(((((x*y)/2)**2)+1)-0.75)

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5) = 44
    
    What is the value of the expression 4 * 6 + 5  = 29
    
    What is the value of the expression 4 + 6 * 5  = 34

In [2]:
print(4 * (6 + 5))
print(4 * 6 + 5)
print(4 + 6 * 5)

44
29
34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>
float

What would you use to find a numberâ€™s square root, as well as its square?

In [4]:
# Square root:
import math
print(9**(1/2))
print(pow(16,1/2))

3.0
4.0

In [5]:
# Square:
import math
print(4*4)
print(pow(9,2))

16
81

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [6]:
s = 'hello'
# Print out 'e' using indexing
i = s.index("e")
print(s[i])

e

Reverse the string 'hello' using slicing:

In [7]:
s ='hello'
# Reverse the string using slicing
s = s[::-1]
print(s)

olleh

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [8]:
s ='hello'
# Print out the 'o'

# Method 1:
i = s.index("o")
print(s[i])

o

In [9]:
# Method 2:
for i in s:
    if i == "o":
        print("o")

o

## Lists

Build this list [0,0,0] two separate ways.

In [10]:
# Method 1:
list = [0,0,0]

In [12]:
# Method 2:
lst = []
for i in range(3):
    lst.append(0)
print(lst)
print(list)

[0, 0, 0]
[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [13]:
list3 = [1,2,[3,4,'hello']]
list3[2][2] = 'goodbye'
print(list3[2][2])

goodbye

Sort the list below:

In [15]:
list4 = [5,3,4,6,1]
length = len(list4)
for i in range(length-1):
    for j in range(length-1):
        if list4[j]>list4[j+1]:
            a= list4[j]
            list4[j]= list4[j+1]
            list4[j+1] = a

print(list4)

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [17]:
d = {'simple_key':'hello'}
# Grab 'hello'
print(d['simple_key'])

hello

In [18]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
print(d['k1']['k2'])

hello

In [19]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
print(d['k1'][0]['nest_key'][1][0])

hello

In [20]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
print(d['k1'][2]['k2'][1]['tough'][2][0])

hello

Can you sort a dictionary? Why or why not?<br><br>
ans:
We can sort a dictionary by either key or value. To sort a dictionary by key we can use sorted() function that will return list of sorted keys. to sort a dictionary by value we will first use item() function that will return a list of tuples with each key and value pair and then we can apply sorted() function to get a list of tuples which are sorted by values. we can use dict() function to get the sorted array from the list.

## Tuples

What is the major difference between tuples and lists?<br><br>
ans:
The major difference between lists and tuples is that lists are mutable which means they can be changed while tuples are immutable and cannot be changed. List are created by square brackets and tuples are created by curly brackets. As tuples are immutable so they are faster as compared to lists.lists have several bult in methods to operate on them while tuples do not have many built in methods. Unexpected errors are more likely to occur in lists but tuples are less error prone.

How do you create a tuple?<br><br>
ans:
Tuples is a collection which is ordered and unchangeable and allow duplicate values. To create tuple we write data in round brackets. we can access elements of tuples by index numbers like lists. 
tup = ("Hi","Hello")

## Sets

What is unique about a set?<br><br>
ans:
set is unordered, unchangeable and do not allow duplicate values. if there is duplicate value then it takes only one. for set 1 and True are considered as same values and same for 0 and False.

Use a set to find the unique values of the list below:

In [27]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
set1 = set(list5)
print(set1)

{1, 2, 33, 4, 3, 11, 22}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [22]:
# Answer before running cell
2 > 3

False

In [23]:
# Answer before running cell
3 <= 2

False

In [24]:
# Answer before running cell
3 == 2.0

False

In [25]:
# Answer before running cell
3.0 == 3

True

In [26]:
# Answer before running cell
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [21]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False

## Great Job on your first assessment!